body::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background: #CA9E72;
}

body::-webkit-scrollbar {
    width: 13px;
    background: #ffead5;
}

* {
    font-family: vagThin;
}

video {
    width: 100% !important;
}

.hide {
    display: none !important;
}

@media (min-width: 768px) {
    .only-mob {
        display: none !important;
    }

    .box-sect.pad {
        padding: 0px 3em;
    }
}

@media (max-width: 768px) {
    .only-desk {
        display: none !important;
    }

    .box-sect.pad {
        padding: 0px 2em !important;
    }
}

img {
    max-width: 100%;
}