@font-face {
    font-family: vagThin;
    src: url("/Hello-Kitty/Hello-Kitty/fonts/VAG-Rounded-Std-Thin.otf");
}

@font-face {
    font-family: vagBlack;
    src: url("/Hello-Kitty/Hello-Kitty/fonts/VAG-Rounded-Std-Black.otf");
}

@font-face {
    font-family: vagBold;
    src: url("/Hello-Kitty/Hello-Kitty/fonts/VAG-Rounded-Std-Bold.otf");
}